*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
}
html{
    font-size: 16px;
}
.navbar
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 6.9375rem;
    /* background-color: yellow; */
    flex-basis: auto;
    align-items: center;
    /* padding-right: 1rem; */
}
.box{
    height: 6.9375rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    background-color: #005AAC;
}
.imgbox{
    height: 6.9375;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.img1{
    width: 16.625rem;
    height: 4.1875rem;
}
.horizontal{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.dot{
    height: 0.3125rem;
    width: 0.3125rem;
    border-radius: 50%;
    background-color: white;
}
.navlists{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    color: black;
    font-size: 1.5rem;
}
.search{
    width: 16.4375;
    height: 6.6025rem;
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 1.5rem;
}
.searchbtn{
    height: 1.25rem;
    width: 1.25rem;
}
.btn{
    height: 3.5rem;
    width: 11.5625rem;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 0.5rem;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: blue; */
   
}
.heading h1{
    /* background-color: red; */
    height: 6.875rem;
    width: 71.875rem;
    text-align: center;
    margin-top: 5rem;

}
.fontbold{
    font-size: 2.6rem;
    font-weight: 600;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}
.page{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin-top: 1.75rem;
    padding-top: 7.5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    /* background-color: yellow; */

}
.img2{
    /* height: 33.75rem; */
    /* width: 33.75rem; */
    width: 35%;
    aspect-ratio: 5/6;
    border-bottom-left-radius: 3.75rem;
}
.para{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
    width: 55%;
}
.content{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: justify;
}


.companybtns{
    display: flex;
    gap: 3.125rem;
    justify-content: center;
    margin-top: 3.75rem;
}
.buttonimg{
    height: 4.375rem;
    width: 8.125rem;
    border: none;
    opacity: 0.5;
    background-color: whitesmoke;
}
.buttonimg:hover{
    opacity: 1;
}

.hamburger{
    display: flex;
    height: 2rem;
    width: 2rem;
    gap: 4px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 0.5rem 0.5rem; */
    display: none;
}
.line{
    height: 2px;
    width: 80%;
    background-color: black;
}
.right-size-box{
    background-color: transparent;
    .dot{
        background-color: black;
    }
    display: none;
}
.videobox{
    width: 100%;
    height: 30rem;
    display: flex;
    margin-top: 5rem;
    /* background-color: red; */
}
.faqbox{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 28rem;
    background-color: #2F5AA8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    left: 2rem;
    top: 2rem;
    border-radius: 0.5rem;
}
.faqchildbox{
    width: 30rem;
    height: 2.5rem;
    background-color: white;
    border-radius: 5px;
}
.hidefaq{
    background-color: transparent;
    padding-left: 1rem;
}
.hidefaq h1{
    color: white;
}
.youtubevideo{
    width: 100%;
    height: 28rem;
    position: relative;
    z-index: 1;
    right: 2rem;
    border-radius: 0.5rem;
}
.heading2{
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}
.heading2 h1{
    /* height: 6.875rem;
    width: 71.875rem; */
    text-align: center;
    margin-top: 2rem;

}
.page2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin-top: 1.75rem;
    padding-top: 7.5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    /* background-color: yellow; */

}
.sectioncontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
}
.counternumbers{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: yellow; */
}

.numbers {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    font-size: 5rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #005aac;
}.semibold{
    position: relative;
    z-index: 2;
    font-size: 1.5rem;
    font-weight: 600;
    top: -1.75rem;
    background-color: #ffffff;
}
.ourblog{
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
}
.ourblog2{
    width: 60%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* background-color: yellow; */
    height: 2rem;
}
.linebox{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.lines{
    width: 50rem;
    /* height: 2px; */
    border: 0.5px solid black;

}
.imagebox{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: yellow; */
    gap: 2rem;
    text-align: center;
}
.imagecolunm{
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    /* padding: 0 60px; */
    /* background-color: red; */
    /* background-color: red; */
}
.hovwerimages{
    width: 17rem;
    height: 16rem;
    background-color: grey;
}
.footer{
    /* height: 40rem; */
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    background-color: whitesmoke;
    padding-top: 2rem;
    /* padding-left: 14rem; */
    gap: 2rem;
   
}
.footerbox{
    width: 20rem;
    display: flex;
    align-items: start;
    /* justify-content: start; */
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
}
.footerbox2{
    width: 20rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;

}
/* .weightextra{
    font-weight: 600;
} */
.footerbox p{
    font-weight: 600;
}
.fontblue{
    color: #00BBEE;
}
.wraptwo{
    display: flex;
}
@media (max-width : 1200px) {
    html{
        font-size: 16px;
    }
    .page{
        width: 100%;
    }
    .para{
        width: 100%;
    }
    /* .navbar{
        background-color: red;
    } */

    
}
@media (max-width : 1024px)
{
    html{
        font-size: 10px;
    }

    .navlists{
        display: none;
    }
    .box{
        display: none;
    }
    .btn{
        display: none;
    }
    .hamburger{
        display: flex;
    }
    .right-size-box{
        display: flex;
    }
    .search{
        gap: 0px;
    }
    .navbar{
        padding: 3.125rem 2rem;
    }
    /* .imgbox{
        padding-top: 8px;
    }
    .img1{
        width: 20rem;
        height: 5rem;
    } */
    .page{
        flex-wrap: wrap-reverse;
        width: 100%;
        padding-top: 4rem;
        padding-left: 8px;
        padding-right: 8px;
    }
    .para{
        width: 100%;
        padding-left: 8px;
        padding-right: 8px;
        line-height: 3rem;
        

    }
    .content{
        /* font-size: 8px; */
        font-weight: 400;
    }
    .img2{
        height: 33.75rem;
        width: 33.75rem;
    }
    .companybtns{
        flex-wrap: wrap;
        
    }
    .videobox{
        gap: 2rem;
        flex-direction: column;
        align-items: center;
        height: 80rem;
    }
    .faqbox{
        position: static;
        width: 80%;
        height: 40rem;
        left: 0;
        top: 0;

    }
    .youtubevideo{
        position: static;
        width: 80%;
        height: 40rem;
        right: 0;
    }
    
    .page2{
        flex-wrap: wrap;
        width: 100%;
        padding-top: 4rem;
        padding-left: 8px;
        padding-right: 8px;
    }
    .ourblog{
        margin-top: -5rem;
    }
    /* .imagecolunm{
        flex-wrap: wrap;
    } */
    .footer{
        flex-wrap: wrap;
        padding-top: 2rem;
        padding-left: 6px;
        gap: 1rem;

    }

}
@media (max-width : 768px)
{
    html{
        font-size: 8px;
    }
    
}
@media (max-width : 540px)
{
    html{
        font-size: 6px;
    }
}